<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlTcsyhEAMOUkhhsJ0YkwLXX-DCoSk_CM</string>
	<key>GCM_SENDER_ID</key>
	<string>252494194514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.partyapp</string>
	<key>PROJECT_ID</key>
	<string>admk-bf35c</string>
	<key>STORAGE_BUCKET</key>
	<string>admk-bf35c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252494194514:ios:e3d9af653b93396d147c8b</string>
	<key>DATABASE_URL</key>
	<string>https://admk-bf35c-default-rtdb.firebaseio.com</string>
</dict>
</plist>